div#instafeed {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
}

div#instafeed div {
	margin-right: 2em;
	margin: 0 !important;
	padding: 0 !important;
}

div#instafeed div a {
	display: block;
	transition: all 0.2s ease-in-out;
}

div#instafeed div a:after {
	display: none;
}

div#instafeed div:last-of-type {
	margin-right: 0;
}

div#instafeed div a img {
	display: block;
}

div#instafeed div a span {
	display: flex;
	position: absolute;
	top: 0;
	left: 0;
	width: 103%;
	height: 101%;
	justify-content: center;
	align-items: center;
	font-size: 1.1em;
	opacity: 0;
	padding: 2em;
	line-height: 1.4;
	text-align: center;
	background-color: rgba(255, 255, 255, .75);
	transition: all 0.2s ease-in-out;
}

div#instafeed div a:hover span,
div#instafeed div a:focus span {
	opacity: 1;
}