html {
	font:  normal 62.5% 'Aften Screen';
}

body {
	font-size: 2.3rem;
}

/* Table of contents */
body span.section-header,
body a.toc-item {
	display: block;
	font-size: 1.5em;
	color: #000000;
	text-decoration: none;
}

body a.toc-item {
	position: fixed;
}

body a.hidden {
	visibility: hidden;
}

/* Set background colours for section headers and sections */
section#one,
section#one span.section-header {
}

section#two,
section#two span.section-header {
}

section#three,
section#three span.section-header {
}

body div.inner {
	width: 60%;
	margin: auto;
	line-height: 1.5;
}