::selection {
	background-color: #f1eeed;
}

html {
	font: normal 62.5% 'Aften Screen';
}

body {
	font-size: 2.2rem;
	line-height: 1.5;
}

/* TABLE OF CONTENTS */
body span.section-header, 
body a.toc-item,
header {
	display: block;
	width: 100%;
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	text-decoration: none;
}

/* WIDTH OF THE LAYOUT */
body div.inner {
	width: 75%;
	margin: auto;
	line-height: 1.5;
	overflow: hidden;
	padding-left: 3rem;
	padding-right: 3rem;
}

/* Give the section headers and menu items the same styling */
body a.toc-item {
	position: fixed;
	cursor: pointer;
}

body a.hidden {
	visibility: hidden;
}

/* Set background colours for section headers and sections */
section > div.inner {
	padding-top: 2rem;
	padding-bottom: 3rem;
}

section#one, 
section#one span.section-header {
	color: #ffffff;
	background-color: #2854A7;
}

section#projects-experience, 
section#projects-experience span.section-header {
	color: #282829;
	background-color: #EEEFF1;
}

section#contact,
section#contact span.section-header {
	color: #282829;
	background-color: #ffffff;
}

a.toc-item {
	transition: padding-bottom 0.2s ease-in-out;
}

a.toc-item:hover, 
a.toc-item:focus {
	padding-bottom: 2.5rem;
}

/* HEADER */
header {
	position: fixed;
	cursor: pointer;
	z-index: 300;
	transition: top 0.2s ease-out;
	background-color: rgba(255, 255, 255, .95);
	transition: all 0.2s ease-in-out;
}

header:hover {
	padding-top: 2.5rem;
}

/* CONTENT */
/* WELCOME */
div#welcome {
	width: 70%;
	margin: 0 auto;
	padding-top: 10rem;
}

section#one div.inner {
	line-height: 1.8;
	font-size: 1.5em;
}

section#one div.inner p {
	margin-bottom: 2.5rem;
}

section#one div.inner p a {
	color: inherit;
	position: relative;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

section#one div#picture {
	width: 5.2em;
	height: 5.2em;
	position: relative;
	z-index: 0;
	margin: 0 auto 4rem auto;
	border-radius: 9999rem;
	background: url('../img/picture.png') no-repeat left top/100%;
}

/* CONTACT */
section#contact > div.inner {
	text-align: center;
}

section#contact a {
	color: #000000;
	font-size: 1.5em;
	text-decoration: none;
	position: relative;
	z-index: 0;
}

section#contact a:before {
	content: '';
	position: absolute;
	width: 0.4rem;
	height: 0.4rem;
	top: calc(50% -  0.2rem);
	left: 50%;
	z-index: -1;
	border-radius: 9999rem;
	background-color: transparent;
}

section#contact a,
section#contact a:before {
	transform-origin: center center;
	transition: all 0.2s ease-in-out;
}

section#contact a:hover:before {
	transform: scale(8);
	background-color: #F9C776;
}

section#contact div#icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 3rem 0;
}

section#contact div#icons a {
	display: block;
	width: 2.5em;
	height: 2.5em;
	padding: 0.6em;
	margin-right: 1.3em;
	border-radius: 9999rem;
	background-color: #EEEFF1;
	transition: all 0.2s ease-in-out;
}

section#contact div#icons a:before {
	display: none;
}

section#contact div#icons a:hover,
section#contact div#icons a:focus {
	transform: scale(1.05);
	background-color: #2854A7;
}

section#contact div#icons a svg.logo-path {
	fill: #000000;
	display: block;
	transition: all 0.1s ease-in-out;
}

section#contact div#icons a:hover svg.logo-path,
section#contact div#icons a:focus svg.logo-path {
	fill: #ffffff;
}

section#contact div#icons a:last-of-type {
	margin: 0;
}