html {
	font:  normal 62.5% 'Aften Screen';
}

body {
	font-size: 2.3rem;
}

/* Table of contents */
body span.section-header,
body a.toc-item {
	display: block;
	width: 100%;
	font-size: 1.2em;
	color: #000000;
	text-decoration: none;
}

body a.toc-item {
	position: fixed;
}

body a.hidden {
	visibility: hidden;
}

/* Set background colours for section headers and sections */
section#one,
section#one span.section-header {
	color: #ffffff;
	background-color: #212121;
}

section#two,
section#two span.section-header {
	background-color: #ededed;
}

section#three,
section#three span.section-header {
	background-color: #ffffff;
}

/* 
	Padding of the inner divs composed of
	margin-bottom on section-header
	padding-top and padding-bottom on section-header
	padding-left and padding-right on div.inner
	padding-bottom on section-header
*/
/* Width of the layout */
body div.inner {
	width: 60%;
	margin: auto;
	line-height: 1.5;
	padding: 3.5rem;
}

span.section-header div.inner,
a.toc-item div.inner {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
}

a.toc-item {
	transition: padding-bottom 0.2s ease-in-out;
}

a.toc-item:hover,
a.toc-item:focus {
	padding-bottom: 0.7rem;
}