/* PROJECT PAGE */
section.content {
}

section.content div.inner {
}

section#project-top div.inner h1 {
	position: relative;
	text-align: center;
	margin-bottom: 2em;
	font-size: 1.8em;
}

section#project-top div.inner h1:after {
	content: '';
	text-align: left;
	top: 100%;
	left: 0;
	width: 100%;
	height: 3em;
	background: url('../img/ziz-zag.svg') no-repeat center top/3em;
	position: absolute;
	display: block;
}

section#project-top {
	color: #ffffff;
	background-color: #2854A7;
}

section#project-one,
section#project-one span.section-header {
	background-color: #E1E3E6;
}

section#project-two,
section#project-two span.section-header {
	background-color: #F0F1F3;
}

section#project-three,
section#project-three span.section-header {
	background-color: #ffffff;
}