/* PROJECT PAGE */
section.content {
}

section#project-top div.inner h1 {
	position: relative;
	text-align: left;
	margin-bottom: 0.5em;
	font-size: 1.5em;
}

section#project-top {
	color: #ffffff;
	background-color: #2854A7;
	position: relative;
	overflow: hidden;
}

section#project-one,
section#project-one span.section-header {
	background-color: #E1E3E6;
}

section#project-two,
section#project-two span.section-header {
	background-color: #F0F1F3;
}

section#project-three,
section#project-three span.section-header {
	background-color: #ffffff;
}