@media (max-width: 1200px) {
	body div.inner {
		width: 100%;
	}
	
	body,
	body span.section-header, 
	body a.toc-item,
	header {
		font-size: 2rem;
	}
	
	section#contact div#icons a {
		width: 7.5rem;
		height: 7.5rem;
		padding: 1.8rem;
	}
	
}

@media (max-width: 750px) {
	body,
	body span.section-header, 
	body a.toc-item,
	header {
		font-size: 1.7rem;
	}
	
	div#welcome {
		width: 100%;
	}
	
	section#contact div#icons a {
		width: 6.5rem;
		height: 6.5rem;
		padding: 1.8rem;
	}
}

@media (max-width: 600px) {
}