@media (min-width: 1201px) {
	div#circle {
		width: 50rem;
		height: 50rem;
		top: -33rem;
		margin-bottom: -33rem;
	}
	
	div#circle div#location {
		position: absolute;
		top: 70%;
		left: 23%;
	}
}
	
@media (max-width: 1200px) {
	body div.inner {
		width: 100%;
	}
	
	section#one div.inner div#welcome {
		width: 60%;
	}
	
	div#circle {
		right: -3.5rem;
	}
}

@media (max-width: 1000px) {
	section#one div.inner div#welcome {
		width: 70%;
	}
}

@media (max-width: 750px) {
	section#one div.inner div#welcome {
		width: 80%;
	}

	div#circle {
		width: 30rem;
		height: 30rem;
		top: -18rem;
		margin-bottom: -18rem;
	}
	
	div#circle div#location {
		position: absolute;
		top: 67%;
		left: 20%;
	}
	
	body,
	body span.section-header, 
	body a.toc-item,
	header {
		font-size: 1.7rem;
	}
	
	div#circle div#location span#place {
		font-size: 2.5rem;
	}
	
	div#circle div#location span#time {
		font-size: 1.5rem;
	}
}

@media (max-width: 600px) {
	section#one div.inner div#welcome {
		width: 100%;
	}
}