RewriteEngine On

# redirect project/something/ to project/something.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?project/([^/d]+)/?$ project/$1.php [L,QSA]

# redirect experience/something/ to experience/something.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^/?experience/([^/d]+)/?$ experience/$1.php [L,QSA]

# redirect experience/something/ to experience/something.php
RewriteRule ^/?about/?$ about.html [L,QSA]

# redirect html pages to the root domain
RewriteRule ^index\.html$ / [NC,R,L]